.jumbotron{
    text-align: center;
    color: white;
    font-size: 25px;
    background-color:black;
    opacity: 0.8;
  }

.section-1 {
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}